<div class="global-card">

  <div *ngIf="step == 0">
    <h3>
      Bem Vindo!
    </h3>

    <h4>
      Escolha qual forma do jogo:
      <br>
      <ul>
        <li>Clássico - Quantos você acerta em 60 segundos</li>
        <li>Custom - Quantos você consegue acertar até errar</li>
      </ul>
    </h4>

    <div class="button-options">
      <div class="poke-option" (click)="goNextStep(3)">Clássico</div>
      <br>
      <div class="poke-option" (click)="goNextStep(4)">Custom</div>
      <br>
      <div class="poke-option" (click)="goNextStep(2)">Configurar Regiões</div>
      <br>
      <div class="poke-option" (click)="goNextStep(7)">Ranking</div>
    </div>
  </div>

  <div *ngIf="step == 2">
    <div class="div-intro">
      <div class="div-intro">
        <div class="poke-option" (click)="goNextStep(0)">Voltar</div>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="kanto" (ngModelChange)="saveRegionConfig()"><label>Kanto</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="johto" (ngModelChange)="saveRegionConfig()"><label>Johto</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="hoenn" (ngModelChange)="saveRegionConfig()"><label>Hoenn</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="sinnoh" (ngModelChange)="saveRegionConfig()"><label>Sinnoh</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="unova" (ngModelChange)="saveRegionConfig()"><label>Unova</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="kalos" (ngModelChange)="saveRegionConfig()"><label>Kalos</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="alola" (ngModelChange)="saveRegionConfig()"><label>Alola</label>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="region-option">
        <input type="checkbox" [(ngModel)]="paldea" (ngModelChange)="saveRegionConfig()"><label>Paldea</label>
      </div>
    </div>
  </div>

  <div *ngIf="step == 3 || step == 4">
    <div>
      <div class="div-intro">
        <div class="poke-option" (click)="goNextStep(0)">Voltar</div>
        <div class="poke-option" *ngIf="classico">{{time >= 10 ? time : '0' + time}}</div>
      </div>
      <div *ngIf="pokemon">
        <img [ngClass]="{'global-silhouette': !revealed}" style="width: 100%;" [src]="pokemon.sprites.front_default">
      </div>
    </div>
  
    <div class="global-card-header">
      <div>
        <h2>
          {{!revealed ? "Que pokemon é esse?" : pokemon.name}}
        </h2>
      </div>
    </div>
  
    <div class="poke-option-wrapper" *ngIf="!loading && !errou && !acertou">
      <div *ngFor="let item of pokemonOptionsList; let i=index" class="poke-option" (click)="selectPokemon(item)">{{item}}
      </div>
    </div>
  
    <div *ngIf="!loading && errou && !classico">
      Você errou, seu score Final foi: {{score}} 
  
      <div class="button-options">
        <div class="poke-option" (click)="reiniciar()">Tentar de novo</div>
        <br>
        <div class="poke-option" (click)="goNextStep(6)">Cadastrar no ranking</div>
        <br>
        <div class="poke-option" (click)="goNextStep(0)">Home</div>
      </div>
    </div>

    <div *ngIf="!loading && errou && classico">
      Errou! Score: {{score}}
  
      <div class="button-options">
        <div class="poke-option" (click)="gerarLista()">Próximo</div>
      </div>
    </div>
  
    <div *ngIf="!loading && acertou">
      Acertou! Score: {{score}}
  
      <div class="button-options">
        <div class="poke-option" (click)="gerarLista()">Próximo</div>
      </div>
    </div>

  </div>
  
  <div *ngIf="step == 5">
    <div *ngIf="!loading && classico && time <= 0">
      Finalizado! Você acertou {{score}} de {{total}} em 60 segundos!
    
      <div class="button-options">
        <div class="poke-option" (click)="reiniciar()">Tentar de novo</div>
        <br>
        <div class="poke-option" (click)="goNextStep(6)">Cadastrar no ranking</div>
        <br>
        <div class="poke-option" (click)="goNextStep(0)">Home</div>
      </div>
    </div>
  </div>

  <div *ngIf="step == 6">
    <h2>
      Inserir no Ranking
    </h2>
    <div class="poke-option">
      <div class="region-option">
        Acertos: {{score}}
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="nome-option">
        Nome: 
        <input type="text" [(ngModel)]="nome" maxlength="250">
      </div>
    </div>
    <br>    
    
    <div class="button-options">
      <div class="poke-option" (click)="inserirRanking()">Inserir</div>
      <br>
      <div class="poke-option" (click)="goNextStep(0)">Home</div>
    </div>
  </div>

  <div *ngIf="step == 7">
    <h2>
      Ranking
    </h2>
    <div class="poke-option">
      <div class="nome-option">
        Classic: Nome | Acertos
      </div>
    </div>  
    <br>    
    <div *ngFor="let item of ranking?.object?.listaClassic; let i = index">
      <div>
        <div class="nome-option">{{ i + 1 }} - {{ item.nome }} | {{ item.acertos }}</div>
      </div>
    </div>
    <br>    
    <div class="poke-option">
      <div class="nome-option">
        Custom: Nome | Acertos
      </div>
    </div>
    <br>    
    <div *ngFor="let item of ranking?.object?.listaCustom; let i = index">
      <div>
        <div class="nome-option">{{ i + 1 }} - {{ item.nome }} | {{ item.acertos }}</div>
      </div>
    </div>
    <br>    
    <div class="button-options">
      <div class="poke-option" (click)="goNextStep(0)">Home</div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>